
    {%- if section.settings.announcement_link != blank -%}
      <a href="{{ section.settings.announcement_link }}" class="announcement__link">
    {%- endif -%}

  <div class="promo-bar">
    <div class="promo-inner">
      <div class="sale_bar right_10 not_bold"><span class="text-span-53">Exclusive Flash Sale!</span> Ends in <span class="sale_countdown">24H 00M 00S</span></div>
      <div class="sale_bar right_10 bold_section">Get a <span class="text-span-52">Extra 25% OFF</span> using code<span class="text-span-50">FLASH25</span></div>
    </div>
  </div>


    {%- if section.settings.announcement_link != blank -%}
      </a>
    {%- endif -%}


<style>
.sale_bar.right_10.not_bold {
    font-weight: 400!important;
}

</style>