
    <!--{%- if section.settings.announcement_link != blank -%}
      <a href="{{ section.settings.announcement_link }}" class="announcement__link">
    {%- endif -%}

  <div class="promo-bar">
    <div class="promo-inner">
      <div class="sale_bar right_10 not_bold"><span class="text-span-53">😍 Valentines Day Sale!</span>
       <!--Ends in <span class="sale_countdown">24H 00M 00S</span>-->
       </div>
      <div class="sale_bar right_10 bold_section"> Buy 2 Bottles & Get 1 FREE Javy Bottle and 1 Straw Set</div>
    </div>
  </div>


    {%- if section.settings.announcement_link != blank -%}
      </a>
    {%- endif -%}


<style>
.sale_bar.right_10.not_bold {
    font-weight: 400!important;
}


.promo-bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #ff5757!important;
    color: #fff!important;
}

span.text-span-53 {
    color: #ffffff!important;
}


</style> -->>