
    {%- if section.settings.announcement_link != blank -%}
      <a href="{{ section.settings.announcement_link }}" class="announcement__link">
    {%- endif -%}


        <div class="promo-bar">
    <div class="promo-inner">
      <div class="sale_bar right_10 not_bold">BLACK FRIDAY SALE ENDS IN <span class="countdown_sale">24H 00M 00S</span></div>
      <div class="sale_bar right_10 bold_section">Get a <span class="text-span-52">Free Gift + Extra 20% OFF</span> using code<span class="text-span-50">BFCM20</span></div>
    </div>
  </div>



    {%- if section.settings.announcement_link != blank -%}
      </a>
    {%- endif -%}


  <script>
      function calculateHMSleft() {
        //calculate
        var now = new Date();
        var hoursleft = 23 - now.getHours();
        var minutesleft = 59 - now.getMinutes();
        var secondsleft = 59 - now.getSeconds();
        //format 0 prefixes
        if (hoursleft < 10) hoursleft = "0" + hoursleft;
        if (minutesleft < 10) minutesleft = "0" + minutesleft;
        if (secondsleft < 10) secondsleft = "0" + secondsleft;
        //display
        $('.sale_countdown').html(hoursleft + "H " + minutesleft + "M " + secondsleft + "S ");
      }
      calculateHMSleft();
      setInterval(calculateHMSleft, 1000);
    </script>