
    {%- if section.settings.announcement_link != blank -%}
      <a href="{{ section.settings.announcement_link }}" class="announcement__link">
    {%- endif -%}

 <!--<div class="promo-bar">
    <div class="promo-inner">
      <div class="sale_bar right_10 not_bold"><span class="text-span-53">St. Patrick Day Sale! 🍀 </span>
       ENDS IN <span class="sale_countdown">24H 00M 00S</span>
       </div>
      <div class="sale_bar right_10 bold_section">Check what we've got for you here 👉 <a href="https://try.javycoffee.com/c/exclusive-sale/st-pattys"><text="here" /></a>
  </div>-->

    {%- if section.settings.announcement_link != blank -%}
      </a>
    {%- endif -%}


<style>
.sale_bar.right_10.not_bold {
    font-weight: 400!important;
}


.promo-bar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #c8202f!important;
    color: #fff!important;
}

span.text-span-53 {
    color: #ffffff!important;
}


</style>