{%- assign blog = blogs[section.settings.blog] -%}


  {%- if article.image -%}
  <div class="r_recipe_thumbnail_small"><img src="{{ article.image | img_url: '400x' }}" loading="lazy" alt="" class="image-cover"></div>
  {%- endif -%}
                  <div class="r_recipe_content_wrapper">
            {%- for tag in article.tags -%}
            {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
            {% unless first_item %} &middot; {% endunless %}{%- assign first_item = false -%}
                              <div class="r_category_badge">
                    <div class="r_category_text">{{ tag }}</div>
                  </div>
          {%- endfor -%}
                  <h3 class="r_heading r_h3 r_smaller r_m_0">{{ article.title }}</h3>
                  

                      {%- if show_excerpt and article.excerpt.size > 0 -%}
          <p class="r_p_smaller m_t_10">{{ article.excerpt }}</p>
    {%- endif -%}


                </div>


