
        <div class="r_section r_collection">
      <div class="r_container middle_aligned">
        <div class="r_title_wrapper r_centered r_bigger no_m">
          <h1 data-w-id="0178c60a-474c-2879-0c55-50acfc2ae501" style="opacity:0" class="r_h1 m_0">{{ collection.title }}</h1>
          <p data-w-id="0178c60a-474c-2879-0c55-50acfc2ae503" style="opacity:0" class="r_p r_bigger no_m_b">{{ collection.description }}</p>
        </div>
      </div>
    </div>

{% schema %}
  {
    "name": "Collection header",
    "settings": [
      {
        "type": "checkbox",
        "id": "collection_image_enable",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "description_enable",
        "label": "Show description in header",
        "default": true
      }
    ]
  }
{% endschema %}
