<div class="page-width page-content">
  <div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">



    <div class="r_section r_collection">
      <div class="r_container">
        <div class="r_title_wrapper r_collections">
         <!-- <div class="r_top_title_small">#1 CHOICE FOR ICED COFFEE THIS SUMMER</div>-->
          <h1 data-w-id="0c63daa1-1eeb-42af-a61b-36b3fe96f8ce" style="opacity:0" class="r_h1 r_inner_pages"> {{ page.title }}</h1>
         <!-- <p data-w-id="0c63daa1-1eeb-42af-a61b-36b3fe96f8d0" style="opacity:0" class="r_sub_h2 m_t_15">Javy customers are obsessed with making all kinds of different coffees.</p>-->
        </div>
      </div>
    </div>















      </header>

      <div class="rte rte--nomargin">
        {{ page.content }}
      </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section"
}
{% endschema %}
