    <div class="r_section r_cream r_p_40">
      <div class="r_container">
        <div class="r_title_wrapper r_centered r_bigger">
          <h2 class="r_h2 m_t_0">Brewed up with positivity for the creatives, dreamers, and go-getters.</h2>
          <p class="r_p r_bigger">Life is all about what you make of it, and coffee truly makes it so much better. At Javy, we recognize how much coffee enhances our mood, energy, and quality of life.  It fuels our imagination, our aspirations, and our desire to live our best life. It helps build our relationships with our families, friends, and communities.<br></p>
          <a href="#" data-w-id="00420b77-7094-8db2-aae1-f0b26f41f9d0" style="opacity:0" class="r_btn r_btn_desktop w-inline-block">
            <div class="crossell-button-text">LEARN MORE →</div>
          </a>
        </div>
      </div>
    </div>




{% schema %}
  {
    "name": "[R] BrewedUp",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

