    <div class="r_section">
      <div class="r_container">
        <div class="r_container_btn">
          <div class="r_title_wrapper full_width">
            <h2 class="r_h2 m_0">Shop Gear</h2>
            <a href="#" class="r_btn r_btn_desktop w-inline-block">
              <div class="crossell-button-text">VIEW ALL</div>
            </a>
          </div>
          <p class="r_p r_bigger">Complete your coffee kits with our trending accessories<br></p>
        </div>
        <div class="r_product_section">
          <div class="r_javy_gear_container">
            <div class="w-layout-grid grid-21">





{% assign gear_collection = collections['coffee-upgrades'] %}
            {% for product1 in gear_collection.products limit: 4 %}
            <div class="gear-item">
              <a href="{{product1.url}}">
                <div class="gear-image"><img src="{{product1.featured_image | img_url:'500x'}}" loading="lazy" alt=""></div>
                <div class="gear-text">
                  <div class="product-title">
                    <div class="r_item_title">{{product1.title}}</div>
                  </div>
                  <div class="product-price">
                    <div class="r_item_price">{{product1.price | money}}</div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          {% if gear_collection.products.size > 4 %}
          <a href="gear_collection.url" class="btn yellow w-button">SHOP ALL</a>
          {% endif %}







            </div>
          </div>
        </div>
      </div>
    </div>




{% schema %}
  {
    "name": "[R] Gear",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "[R] Gear",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

