
        <div class="new_r_hero">
      <div class="new_r_inner r_inner_hero">
        <div class="w-layout-grid new_r_hero_grid">
          <div id="w-node-_033f4fe1-8ee4-6e6d-a414-c0b4b3bce1a1-33e8faaa" class="new_r_information for_hero">
            <div class="new_r_inner_relative r_centered">
              <h2 class="new_r_h2 h2_hero">The fastest, easiest, and most convenient coffee.</h2>
              <p class="new_r_p r_for_hero"><strong>Instantly craft any style coffee that you want in seconds.</strong> Simply add 1-2 tsp of Javy Coffee Concentrate and enjoy your favorite drink.<br></p>
              <a href="https://javycoffee.com/collections/javy" class="new_r_btn for_hero w-inline-block">
                <div class="crossell-button-text">SHOP DEALS →</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



    
{% schema %}
  {
    "name": "[R] Hero",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "[R] Hero",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

