   
    .prod_description {
      font-size: 12px!important;
      margin-top: 8px;
      line-height: 12px;
  }
      
      
  img.acc-icon {
      margin-right: 8px;
      top: 2px;
      position: relative;
  }
  
  
  
      ol.flickity-page-dots {
      position: absolute;
      bottom: 1rem;
      z-index: 5;
  }
      
      
      .toolbar.small--hide {
      display: none!important;
  }
      
      .product-single__meta {
      text-align: left!important;
  }
  
  
      .grid-product__tag.grid-product__tag--custom {
      font-size: 10px;
      left: 8px;
      right: auto;
      top: 8px;
      background-color: #fce02e;
      color: #000;
      font-weight: 900;
  }
      
      
      
      .header-item--split-left {
      justify-content: flex-start!important;
  }
      
      
      .header-item--split-right {
      justify-content: flex-end!important;
  }
      
      .header-item--icons .site-nav {
      margin-right: 0px!important;
  }
      
      .header-layout[data-logo-align=center] .header-item--icons, .header-layout[data-logo-align=center] .header-item--navigation {
      flex: 1!important;
  }
      
      header#SiteHeader {
      padding-left: 1rem!important;
      padding-right: 1rem!important;
  
  }
      
      
      
      
      .rte.collection__description {
      text-align: center;
      max-width: 860px;
      margin-left: auto;
      margin-right: auto;
      }
      
      
      span.save_label {
      background-color: #ffe000;
      padding: 4px 10px;
      font-size: 12px;
      font-weight: 700!important;
      margin-left: 6px;
  }
      
      
      
      .javy_nav-holder {
      border-top: 1px solid #efefef;
      padding-top: 1rem;
        overflow: hidden!important;
  }
      
      .grid-product__meta {
      text-align: left!important;
  }
      
      
      <!-- navbarss -->
      
      .javy_nav-holder {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: @swatch_4a2dd8b6;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 700;
        overflow:hidden;
  }
      
      
      .javy_nav-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
      
  
      
      
      .javy_nav-menu {
    position: static;
    display: flex;
    float: none;
    justify-content: flex-start;
  }
  
  .javy_nav-menu {
    display: flex;
  }
  
  .javy_nav-menu {
    display: flex;
  }
      
      .javy_nav_inner {
    position: static;
    display: flex;
    float: none;
    justify-content: flex-start;
  }
  
  .javy_nav_inner {
    display: flex;
  }
  
  .javy_nav_inner {
    display: flex;
  }
      
      
      
    .javy_nav-link {
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-weight: 500;
  }
      
          a.javy_nav-link.first-child {
      padding-left: 0px;
  }
  
  
      
  
  .javy_nav-link:current {
    box-shadow: inset 0 -3px 0 0 hsla(41.794871794871796, 100.00%, 50.00%, 1.00);
    color: @swatch_3500c1c2;
    font-weight: 700;
  }
  
  .javy_nav-link:hover {
    color: @swatch_3500c1c2;
  }
  
  .javy_nav-link {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
  
  .javy_nav-link {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
      
      
  a.javy_nav-link.active {
      font-weight: 900;
  }
      
      .quick-product__btn {
      border-radius: 4px;
  }
      
      
      .product-single__meta {
      padding-top: 2rem;
  }
      
      
      
      
      .sale-tier-block {
    display: none;
  }
  
  
  
  
  .sale-tier-inner {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
      
      
  .sale-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .grid-product__price {
      font-weight: 600;
  }
  
  
  .ajaxcart__subtotal {
      text-transform: capitalize;
      letter-spacing: inherit;
      font-weight: 600;
  }
  
  
  a.mobile-nav__link.login-info {
      font-size: 14px;
      font-weight: 600;
  }
  
  .cart__item-sub.cart__item-row {
      font-size: 1rem!important;
      font-weight: 600;
  }
  
  
      .ajaxcart__subtotal {
      font-size: 1rem;
  }
  
  button.btn.cart__checkout {
      height: 60px;
  }
  
  
  
      
  /*Tablet */
  @media (max-width: 991px) {
    
    
    a.mobile-nav__link.mobile-nav__link--top-level {
      text-transform: capitalize;
      font-size: 16px!important;
  }
    
    
    li.mobile-nav__item.mobile-nav__item--secondary {
      font-size: 12px;
  }
    
    
    span.announcement-text {
      font-size: 0.7rem;
  }
    
    
    .mobile-nav__faux-link, .mobile-nav__link, .mobile-nav__toggle .faux-button, .mobile-nav__toggle button {
      color: #000;
      padding: 18px var(--drawer-gutter);
  }
    
    
    
    .cart__item-row.text-center {
      display: none!important;
  }
    
    
    
    .drawer .cart__image {
      flex: 0 0 80px;
  }
    
    
    .cart__item-title {
      font-size: 12px!important;
      line-height: 14px;
      font-weight: 600;
  }
    
    small.cart__discount {
      margin-top: -0.8rem;
      font-size: 12px;
      line-height: 14px;
  }
    
    .cart__item-price-col.text-right {
      font-size: 0.8rem!important;
  }
    
    
    span.cart__price.cart__discount {
      color: #000!important;
      font-weight: 600;
      margin-top: 2px;
  }
    
    
    .cart__item-sub {
      flex: 1 1 100%;
      display: flex;
      justify-content: space-between;
      line-height: 1;
      align-items: flex-end;
  }
    
    
    
    div#CartDrawer {
      width: 100%;
      max-width: 100%!important;
  }
    
    
    .product-single__meta {
      text-align: center;
      padding-left: 0;
      margin-top: 0px;
  }
    
    .product-single__meta {
      padding-top: 1rem;
  }
    
    
    
    .collection-content {
      padding-top: 14px;
  }
    
    
    
    h1.section-header__title {
      font-size: 28px;
  }
    
    
    .rte.collection__description {
      font-size: 14px;
  }
    
    
    .sale-tier-block {
    display: block;
    background-color: #f6f6f6;
  }
  
    
    
    .sale-divider {
    display: flex;
    justify-content: space-between;
  
  }
    
    
    
    .sale-tier-text {
    font-size: 11px;
    line-height: 1.5;
    font-weight: 900;
  }
    
    
    
    .sale-tier-text.red {
    color: #c8202f;
  }
  
    
    
    .sale-second {
    width: 100%;
  }
  
    
    .sale-first {
    width: 30%;
  }
    
    
    
    .sale-tier-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: hsla(0, 0.00%, 87.84%, 1.00);
  }
    
    
    .divider-prices {
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  
  
  
    
    .sale-tier-text {
    font-size: 11px;
    line-height: 1.5;
    font-weight: 900;
  }
  
    
    
    .sale-tier-text {
    font-size: 11px;
    line-height: 1.5;
    font-weight: 900;
  }
  
    
    
  .sale-tier-bottle {
    font-size: 11px;
    line-height: 1.5;
  }
    
    
    .sale-tier-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: hsla(0, 0.00%, 87.84%, 1.00);
  }
    
    
    .sale-tier-item.last-child {
    border-right-style: none;
  }
    
    .grid-product__title.grid-product__title--heading {
      font-size: 13px;
      text-align: left;
      line-height: 1rem;
  }
    
    
  .javy_nav-container {
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
    
      a.javy_nav-link.first-child {
      padding-left: 17px;
  }
  
    .javy_nav-holder {
      margin-left: -17px;
      margin-right: -17px;
    }
    
    
    .javy_nav_inner {
      overflow: scroll!important;
  }
    
        .javy_nav-holder {
      border-bottom: 1px solid #efefef;
          border-top: 0px!important;
      padding-top: 0rem!important;
          padding-bottom: 1rem!important;
        overflow: hidden!important;
  }
    
    .rte.collection__description {
      margin-bottom: 1rem!important;
  }
    
    
    .quick-product__btn.quick-product__btn--ready {
      display: block;
      position: relative;
      opacity: 1;
      bottom: 0px;
      right: 0px;
      left: 0px;
      overflow: visible;
      transform: none!important;
  }
    
    .grid-product__price {
      text-align: left;
      font-size: 12px;
      margin-top: 3px;
  }
    
        button.quick-product__label {
      font-size: 12px;
  }
    
    .prod_description {
      margin-top: 3px;
      line-height: 14px;
  }
    
    
  
  
  
    
  
  }
      
        @media only screen and (min-width: 769px) {
  
          
          .grid-product__meta {
      margin-top: 0.8rem;
  }
          
          .sale-tier-inner {
    padding-right: 1rem;
    padding-left: 1rem;
  }
          
          
  .collection-content {
      padding-top: 1rem!important;
  }
  }
  /* Mobile - Landcape */
  @media (max-width: 767px) {
  
  }
  /* Mobile - Portrait */
  @media (max-width: 479px) {
  
  }
      
      
      
      .quick-product__btn {
      background-color: #000;
  }
      
      
      button.quick-product__label {
      font-weight: 700;
  }
      
      
      
      
      <!-- list product page -->
      
      .feature-list {
      margin-top: 0;
      margin-bottom: 10px;
      padding-left: 0;
      list-style: none;
  }
      
  .icon-list-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0.45rem;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
  }
      
      .feature-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin-bottom: 0;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      line-height: 1.45;
  }
      
      
      .checkmark {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 22px;
      height: 22px;
      margin-top: -3px;
      margin-right: 5px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: #29af5c;
  }
      
      .feature-text {
      font-size: .75rem;
      line-height: 1.35;
      font-weight: 700;
  }
      
      
      ul.feature-list {
      margin: 0px;
  }
      
      
  .hero__subtitle {
      font-size: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
  }