


@media only screen and (min-width: 769px) {
.product-single__header {
    margin-top: 0px!important;
}
}

.produc
    
.header-wrapper--overlay {
  background: none!important;
}
  
  .hero__text-shadow:before {
  background: none!important;
}
  
  .is-light .site-nav__link {
  color: #000;
}
  
  .is-light .site-nav__link:hover {
  color: #000;
}
  
  h2.h1.hero__title {
  color: #000;
}
  
  .hero__subtitle {
  color: #000;
  max-width: 600px;
  }
  
  [data-animate_images=true] .hero.loaded .slideshow__slide.is-selected .hero__link .btn, [data-animate_images=true] [data-aos=hero__animation].loaded.aos-animate .hero__link .btn {
  animation: fade-in 1s ease .6s forwards;
  color: #fff!important;
}
  
  h2.h1.hero__title {
  text-transform: none;
}
  
  a.site-nav__link {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
  
  [data-animate_underlines=true] .site-nav__item>a:before {
  border-bottom: 4px solid #fce02e!important;
}
  
  .video-parent-section h2.h1.hero__title.appear-delay {
  color: #fff!important;
}
  
  .grid--articles {
  margin-bottom: 0px!important;
}
  
  .article-listing {
  margin-bottom: 45px;
}
  
  
  a.tag-blog {
  background-color: #000;
  color: #fff;
  padding: 5px 15px;
  border-radius: 100px;
}
  
  .article__date {
  margin-top: 10px;
}
  
  a.tag_item {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #fcdf31;
  border-radius: 100px;
}
  
  
  
  h1.h1.product-single__title {
  text-transform: none;
  font-size: 28px;
}
  
  .product-single__header {
  margin-bottom: 10px;
}
  
  
  .product-block.product-block--price {
  margin-bottom: 10px;
  margin-top: 10px;
}
  
  
  
    .okeReviews-reviewsWidget-reviewsAggregate.js-okeReviews-reviewsAggregateContainer {
  background-color: #fff;
}

.okeReviews-reviews-review {
  background-color: #fff;
}


.okeReviews-review-reviewer-product {
  display: none!important;
}


.okeReviews p {
font-size: 14px!important;
}

.okeReviews .okeReviews-reviews-footer:before {
display: none!important
}

button.okeReviews-reviews-showMore.okeReviews-showMore.js-okeReviews-showMore {
background-color: #ffc33a;
color: #000!important;
border: none;
border-radius: 10px;
padding: 10px 15px 10px 15px;
font-size: 12px;
font-weight: 700;
text-transform: uppercase;
height: 45px;
}

.okeReviews .okeReviews-avatar {
  background-color: #ffc33a!important;
  color: #000!important;
  font-weight: 700!important;
}


.okeReviews-reviews-controls {
  display: none!important;
}


.okeReviews-reviewsWidget-header {
  display: none!important;
}
  
  .btn {
  font-weight: 900!important;
}
  
  img.white_bottom {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 0px;
}
  
  img.white_top {
  position: absolute;
  top: -1px;
}
  
  .hero--100vh {
  height: 1300px;
}
  
  .grid-product__title {
  font-weight: 900;
  font-size: 14px;
}
  
  h2.sections_h2 {
  font-weight: 900;
  font-size: 38px;
  font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
  font-weight: var(--typeHeaderWeight);
}
  
  
  video.lozad {
  width: 100%!important;
}
  


  
  
  
  
  
  
  
  
  
  /* variants selectors */
  
  
  label.variant-swatch {
  border: 1px solid #000;
  border-radius: 4px!important;
}
  
  span.swatch-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  
.swatch-title .title {
  color: #000;
  font-size: 14px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -.03em;
  text-transform: none;
}
  
      .swatch-title .unit_price {
  margin-right: 0px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.03em;
  }
  
  .variant-input-wrap {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-bottom: 10px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
  
  label.variant-swatch {
  width: 100%;
}
  
  
  .check-wrapper-2 {
  position: absolute;
  left: 10px;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
  
  .check-circle-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 100px;
  background-color: transparent;
}
  
  .check-white-2 {
  position: relative;
  z-index: 1;
  width: 10px;    
    -o-object-fit: fill;
  object-fit: fill;
}
  
  
  .check-circle-2 img {
   display: none; 
  }
  
  
  .variant-input-wrap input[type=radio]:checked+label .check-circle-2 img {
      display: flex;
}
  
  
  .variant-input-wrap input[type=radio]:checked+label {
  box-shadow: 0 0 0 2px #000;
  box-shadow: 0 0 0 1px var(--colorTextBody);
}
  
  label.variant-swatch {
  border: 1px solid #d2d2d2;
  border-radius: 4px!important;
}
  
span.swatch-title {
  margin-left: 15px;
}
  
  
  label.bestseller.variant-swatch:before {
  content: "BEST SELLER";
  position: absolute;
  left: auto;
  top: -10px;
  right: auto;
  bottom: auto;
  display: block;
  width: 100%;
  height: auto;
  max-width: 80px;
  margin-top: 0px;
  padding: 4px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 1px none #000;
  border-radius: 6px;
  background-color: #c8202f;
  color: #fff;
  font-size: 7px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}
  

  .variant-input-wrap label {
  overflow: visible;
  display: flex;
  justify-content: center;
}
  
  .variant-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
  
  .variant-input-wrap label {
  margin: 0px!important;
}
  
  .variant-input-wrap label {
  padding: 15px 0px;
  overflow: hidden;
}
  
  .variant-input-wrap input[type=radio]:checked+label {
  background-color: transparent;
}
  
  span.product__price.sale-price {
  font-weight: 800;
}
  
  button.js-qty__adjust.js-qty__adjust--plus {
  border: 2px solid #000;
}
  
  button.js-qty__adjust.js-qty__adjust--minus {
        border: 2px solid #000;

}
  
  .drawer .js-qty__num {
  border-top: 2px solid #000;
}
  
  .js-qty__adjust {
  padding: 0 8px;

}
  
  a.cart__product-name {
  font-size: 14px;
  font-weight: 800;
}
  
  .drawer .additional-checkout-buttons [data-shopify-buttoncontainer] {
  /* justify-content: center; */
  /* display: grid!important; */
  /* flex-direction: row!important; */
  /* align-content: space-between; */
  display: -ms;
  display: grid!important;
  width: 100%;
  margin-bottom: 10px!important;
  margin-left: 0 px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px!important;
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
  
  a.site-nav__thumb-cart.js-drawer-open-cart.js-no-transition {
  border-radius: 10px;
  margin-left: 10px;
}
  
  
  span.flavor_label {
  background-color: #000;
  color: #fff;
  padding: 5px 15px;
  border-radius: 100px;
}
  
  .short_description {
  margin-top: -15px;
  margin-bottom: -15px;
}
  
  label.variant__label {
  font-weight: 800;
}
  
  .variant-input-wrap label {
  overflow: visible;
}
  
  label.bestseller.variant-swatch:after {
    
    
    
  }
  
  

  
  
  @media only screen and (max-width:768px){

    .slide-nav__overflow--thumb {
      left: 20px;
      right: 20px;
      bottom: 88px;
      bottom: calc(98px + env(safe-area-inset-bottom)*1.18)!important;
      border-radius: 0px!important;
  }


    span.swatch-title {
      margin-left: 10px!important;
  }


    h1.h1.product-single__title {
      text-align: left;
    }

    .product-single__prices {
      justify-content: left;
  }

  .page-full, .page-width {
  padding-left: 15px;
  padding-right: 15px;
}

.swatch-title .unit_price {
  font-size: 12px!important;

  }

  .check-circle-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 14px;
    height: 14px;
}

.check-white-2 {
  width: 8px!important;
}
  .swatch-title .title {
    font-size: 13px!important;
}


.check-wrapper-2 {
  position: absolute;
  left: 5px!important;
}

.variant-input-wrap label {
  padding: 15px 0px 10px 0px!important;
}


    


  }


  h1.section-header__title.appear-delay {
    text-transform: capitalize;
}

.article__content-meta a {
  font-size: 18px!important;
  text-transform: capitalize;
  font-weight: 600;
}

h2.rk_heading {
font-weight: 800;
}


@media only screen and (min-width: 1024px) {
#rk_parent .rk_modern .rk_container .rk_grid .rk_column_third {
  width: 50%!important;
}
}

.article__content-meta a {
font-size: 18px!important;
text-transform: capitalize!important;
}

h2.okeReviews-review-main-heading {
font-weight: 800!important;
font-family: Gothampro!important;
}

.swatch-title .title {
font-weight: 500;
font-family: 'Gothampro'!important;
}

body {
font-family:'Gothampro'!important;
}

.product-block.product-block--header.product-single__header.small--text-center {
  margin-top: 0px!important;
}


span.icon-menu-label {
  display: none!important;
}

.btn.site-nav__thumb-button {
  width: 68px!important;

  
}

.site-nav__thumb-menu {
  display: flex!important;
  justify-content: space-between!important;
}

.quick-view__thumb-cart, .site-nav__thumb-cart {
  background-color: #ffc33a!important;
}

a.slide-nav__link {
  font-size: 18px;
  padding: 10px 0px;
}

.slide-nav {
  display: block;
  transform: translateZ(0);
  transition: all .45s cubic-bezier(.29, .63, .44, 1);
  margin: 0;
  padding: 15px 0 15px 0px!important;
}

button.btn.btn--full.add-to-cart {
  letter-spacing: 0px!important;
  height: 55px;
  font-size: 16px!important;
  font-weight: 500!important;
}

button.btn.btn--full.add-to-cart.btn--tertiary {
  border: 0px;
  background-color: #ffc33a;
  color: #000;
}

.shopify-payment-terms.product__policies {
  display: none!important;
}

@media only screen and (max-width: 768px) {
.small--hide {
    display: block!important;
}





.header-item.header-item--navigation.text-center.small--hide {
  display: none!important;
}


.cart-has-items .site-nav__link--cart.site-nav__link--cart {
  background-color: transparent!important;
}


.site-nav--icons {
  justify-content: flex-end!important;
}

.header-item.header-item--icons.small--hide {
  display: flex!important;
  align-content: center!important;
}

img.small--hide {
  display: none!important;
}

.header-layout {
  display: flex;
  justify-content: space-between!important;
}

.slide-nav__overflow.slide-nav__overflow--thumb.js-menu--is-open {
  position: fixed!important;
  width: 100%!important;
  left: 0px;
  right: 0px;
  height: 100%!important;
  bottom: 0px!important;
  padding-top: 0px!important;
  max-height:100%!important;
}

.announcement {
  z-index: 10!important;
}

.splash-screen {
  z-index: 15!important;
}

div#CartDrawer {
  z-index: 60!important;
}


nav.slide-nav__wrapper {
  margin: auto 0!important;
  display: flex;
  align-content: center;
  justify-content: center;
}



.site-header {
  position: relative;
  padding: 10px 0px!important;
}



.site-header__logo a {
  max-width: 380px!important;
}

.site-header__logo {
  margin: 0px!important;
  display: block;
  width: 140px!important;
}

.site-header__logo img {
  width: 100%!important;
}

.slide-nav__overflow.slide-nav__overflow--thumb.js-menu--is-open {
  display: flex!important;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}



.header-item.header-item--icons.small--hide {
  position: relative;
  right: 0px;
  top: 0px;
}


nav.slide-nav__wrapper {
  width: 100%!important;
}



.slide-nav__overflow--thumb {
  transition: all 0s ease-out!important;

}

.slide-nav__overflow--thumb.js-menu--is-open {
  transition: background-color 0s ease 0s!important;
}

.js-menu--is-open .slide-nav__wrapper {
  transition: none!important;
}

.slide-nav__overflow--thumb.js-menu--is-open {
  background-color: #fff6e7!important;
}

nav.slide-nav__wrapper {
  background-color: transparent!important;
}
a.site-nav__thumb-cart.js-drawer-open-cart.js-no-transition {
  height: 50px!important;
  width: 50px!important;
  display: flex;
  align-content: center;
  justify-content: center;
}

button.btn.site-nav__thumb-button.js-toggle-slide-nav {
  width: 50px!important;
  height: 50px!important;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn.site-nav__thumb-button .icon {
  width: 20px;
  height: 20px;
}


.site-nav__icons {
  display: flex!important;
}

.top_nav_slider {
  height: 20%!important;
}

.bottom_nav_slider {
  height: auto!important;
  margin-bottom: 88px;
  border-bottom: 1px solid #94670036;
}

nav.slide-nav__wrapper {
  height: 60%!important;
}
a.slide-nav__link {
  text-align: left;
}

ul#SlideNav {
  width: 100%!important;
  padding-left: 20px!important;
}

.main-links {
  padding: 5px 0px 5px 10px;
  width: 100%;
  font-size: 14px;
  display: flex;
  border-bottom: 1px solid #000;
  font-weight: 600;
  justify-content: space-around;
  align-content: space-between;
  flex-direction: row;
  align-items: center;
}

li.slide-nav__item.medium-up--hide {
  display: none!important;
}

button.js-toggle-submenu.slide-nav__link {
  font-size: 18px;
  text-align: left;
  padding: 10px 0px;
}

.slide-nav__overflow--thumb .slide-nav__dropdown {
  background-color: transparent!important;
}

.slide-nav__sublist-link:not(.slide-nav__sublist-header) {
  text-align: left;
  font-size: 18px!important;
}

.slide-nav__table {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8d8b6;
}

a.slide-nav__sublist-link.slide-nav__sublist-header {
  font-size: 18px!important;
  text-align: left!important;
}


.site-nav__link--icon .icon {
  /* display: block; */
  width: 30px;
  height: 30px;
}

span.icon__fallback-text {
    display: block!important;
    width: 100%!important;
    position: relative!important;
    line-height: 30px!important;
    height:30px!important;
}

a.site-nav__link.site-nav__link--icon.small--hide {
  display: flex!important;
  align-content: center;
  align-items: center;
}

  a.site-nav__link.site-nav__link--icon.js-modal-open-search-modal.js-no-transition {
    display: flex!important;
}

.left_icons {
  width: 50%!important;
  display: flex;
  justify-content: space-between;
}


span.icon__fallback-text {
  margin-left: 5px;
}

.bottom_nav_slider {
  padding: 15px;
  display:flex;
}



.cart-link__bubble-num {
  display: block;
  font-size: 8px;
  letter-spacing: -.5px;
  color: #fde02f;
  color: #ffffff;
  background-color: #c8202f;
  border-radius: 100px;
}

button.site-nav__link.site-nav__link--icon.js-toggle-slide-nav.hide.is-active {
  z-index: 9999!important;
  display: block!important;



}
ul.no-bullets.inline-list.footer__social {
  display: flex;
  flex-direction: row;
  max-width: 100px!important;
}


.footer__social a {
  border: 0px!important;
  padding: 0px!important;
}


.footer__social li {
  display: flex!important;
  align-items: center!important;
}



.right-icons {
  width: 50%!important;
  display: flex;
  justify-content: flex-end;
}


span.multi-picker__label {
  display: none!important;
}

span.icon__fallback-text {
  font-size: 12px;
}


}