
div#PageContainer {
  overflow: hidden;
}


.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper.slider3 {
  margin-top: 25px;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  background-color: transparent;
  text-align: left;
}

.rt_title-2 {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-right: 1px solid #000;
  color: #000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
}

.body {
  overflow: visible;
}

.message-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.featured-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #000;
}

.paragraph {
  margin-top: 10px;
  margin-bottom: 20px;
}

.paragraph.mb-0 {
  margin-bottom: 20px;
}

.paragraph.p-small {
  font-size: 14px;
  line-height: 24px;
}

.paragraph.p-small.review {
  margin-bottom: 0px;
  text-align: left;
}

.paragraph.no-margin {
  margin-bottom: 0px;
}

.paragraph.no-margin.steps {
  font-weight: 500;
}

.section {
  overflow: hidden;
}

.section.purchase_cards {
  display: none;
}

.section.dark-cream {
  background-color: #fff6e7;
}

.section.benefits {
  position: static;
  display: block;
  overflow: visible;
}

.inner-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.inner-container.no-side-paddings {
  max-width: 100%;
  padding-bottom: 0px;
}

._2-col {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 120px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._2-col.first_child {
  margin-top: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

._2-col.last_child {
  margin-bottom: 0px;
}

.card {
  width: 100%;
}

.card.description {
  height: auto;
  max-width: 420px;
}

.card.description.small_gap {
  max-width: 100%;
}

.card.img_container {
  overflow: hidden;
  width: 100%;
}

.top-heading {
  margin-bottom: 10px;
  color: #ffc33a;
  font-weight: 700;
}

.top-heading.centered {
  text-align: center;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
}

.img-fluid {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.accordion {
  display: block;
  width: 66.66%;
  margin-right: auto;
  margin-bottom: -24px;
  margin-left: auto;
}

.accordion.js-accordion {
  width: 100%;
  max-width: 800px;
  margin-bottom: 0px;
}

.accordion-body__contents {
  margin-top: 8px;
  opacity: 1;
  line-height: 26px;
}

.accordion-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}

.accordion-header.js-accordion-header {
  cursor: pointer;
}

.question-text {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.accordion-body {
  display: block;
}

.accordion-body.js-accordion-body {
  padding-bottom: 20px;
}

.accordion__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #cacac8;
  text-align: left;
  text-decoration: none;
}

.accordion__item.js-accordion-item {
  padding-bottom: 0px;
}

.accordion__item.js-accordion-item.first_child {
  border-top: 1px none #cacac8;
}

.accordion__item.js-accordion-item.last_child {
  border-bottom-style: none;
}

.average-rating {
  font-weight: 800;
}

.feature-list-stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-title {
  text-transform: uppercase;
}

.div-block-269-copy {
  width: 100%;
  margin-top: 20px;
  padding: 20px 20px 10px;
  background-color: #fffcf7;
}

.feature-stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.stars-review {
  margin-right: 10px;
  font-family: 'Fa solid 900', sans-serif;
  color: #fdc10c;
  font-size: 14px;
  font-weight: 400;
}

.title-for-feature {
  font-weight: 700;
}

.star-para {
  color: #000;
  font-size: 15px;
  font-weight: 700;
}

.star-para.dr {
  margin-bottom: 0px;
}

.review-section-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.review-location-verified {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.verified-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-30 {
  display: inline-block;
  margin-top: 0px;
  margin-left: 5px;
  color: #3dbf22;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.review-image {
  width: 100%;
}

.review-content {
  margin-top: 15px;
  border-left: 8px none #000;
  border-radius: 0px 0px 5px 5px;
  background-color: #fff;
}

.review-shield-2 {
  display: block;
  width: 10px;
  margin-top: 0px;
}

.review-full-width-2 {
  overflow: hidden;
  width: 100%;
  margin-top: 0px;
  padding: 0px 25px 25px;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}

.title-review {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.h2 {
  max-width: 680px;
  margin: 0px auto;
  font-size: 42px;
  line-height: 44px;
  font-weight: 800;
}

.p-subtitle {
  max-width: 600px;
  margin: 25px auto 35px;
  text-align: center;
}

.p-subtitle.left_aligned {
  text-align: left;
}

.p-subtitle.left_aligned.no-top {
  margin-top: 0px;
}

.header-cta-desktop {
  z-index: 450;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 45px;
  max-width: 160px;
  margin-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffc33a;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.header-cta-desktop:hover {
  background-color: #ffce60;
}

.header-cta-mobile {
  z-index: 450;
  display: none;
  width: 100%;
  height: 45px;
  max-width: 160px;
  margin-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffc33a;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.header-cta-mobile:hover {
  background-color: #ffce60;
}

.step-head {
  position: static;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 15;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #fde02f;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
}

.mk_card-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.mk_card-description {
  margin-top: 15px;
}

.swiper-pagination-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.review-image-container {
  margin-top: 0px;
  margin-right: -25px;
  margin-left: -25px;
}

.nutrition {
  margin-top: 20px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}

.nutrition-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nutrition-content {
  padding: 20px;
  background-color: #fff;
}

.text-block-34 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.top-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #cacac8;
  border-bottom: 1px solid #cacac8;
}

.top-caf {
  font-size: 16px;
  font-weight: 700;
}

.table-caf {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
}

.table-caf.number {
  font-size: 58px;
  line-height: 58px;
}

.nutrition-daily {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 10px;
}

.nutrition-percentage {
  font-weight: 700;
}

.checkout-item-img {
  width: auto;
  margin-right: -20px;
  margin-left: -20px;
}

.price-text {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.text-center {
  text-align: center;
}

.checkout-item-info {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkout-line {
  width: 100%;
  height: 1px;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: #000;
}

.checkout-sc-3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.checkout-item {
  position: relative;
  display: block;
  padding: 0px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 5px 13px 2px rgba(0, 0, 0, 0.02);
}

.top-head-prod {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-height: 20px;
  margin-right: -20px;
  margin-left: -20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #000;
}

.text-block-35 {
  color: #fff;
  font-weight: 800;
}

.rotator-deal {
  position: absolute;
  left: auto;
  top: 65px;
  right: -10px;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #c8102e;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.tag-text-4 {
  color: #fff;
  font-size: 20px;
  line-height: 18px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.image-21 {
  position: absolute;
  z-index: 50;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.features-list-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0px;
  text-align: left;
}

.check-icon-2 {
  width: 18px;
  height: 18px;
  min-height: 18px;
  min-width: 18px;
  margin-top: -5px;
  margin-right: 6px;
  -webkit-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
}

.feature-text-2 {
  color: #000;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

.section-heading {
  text-align: center;
}

.section-heading.no_padding {
  text-align: center;
}

.checkout-select-variant {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  padding: 15px 10px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #e7e7ee;
  border-radius: 6px;
  background-color: transparent;
  color: #02044a;
}

.checkout-select-variant:hover {
  box-shadow: 34px 34px 74px -24px rgba(56, 50, 124, 0.08);
}

.checkout-select-variant.w--current {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  color: #000;
}

.top-title-badge {
  margin-bottom: 15px;
  font-weight: 900;
}

.offer-ends {
  margin-left: 10px;
  color: #9c0000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.div-block-277 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.name-review {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  text-align: left;
}

.step_sec {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}

.step_sec {
  width: 100%;
  height: auto;
}

.video-qualities {
  overflow: visible;
  width: 100%;
  height: 100%;
  max-width: 480px;
  border-radius: 8px;
}

.benefits-grid {
  width: 100%;
}

._2-col-grid {
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 120px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._2-col-grid.small_gap {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 60px;
}

._2-col-grid.small_gap.no_padding {
  margin-bottom: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.grid-benefits {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 55% 45%;
  grid-template-columns: 55% 45%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #fff;
}

.benefits-left {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffcf7;
}

.benefits-right {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.benefits-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 680px;
  padding: 55px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.benefits-sticky {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-sliders {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-278 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-13 {
  max-width: 580px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.icon-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.javy-icon {
  width: 85px;
}

.text-block-33 {
  margin-left: 20px;
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
}

.grid_sticky {
  width: 100%;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.sticky_bar {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  z-index: 80;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 75px;
  padding: 25px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffcf7;
}

.div-block-279 {
  margin-top: 25px;
  text-align: center;
}

.dropdown {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 991px) {
  .rt_title-2 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right-style: none;
    font-size: 16px;
    line-height: 24px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .inner-container {
    padding-right: 25px;
    padding-left: 25px;
  }

  .inner-container.no-side-paddings {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .inner-container.no_padding_top {
    padding-top: 0px;
  }

  ._2-col {
    margin-bottom: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }

  ._2-col.first_child {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  ._2-col.first_child.no_padding {
    margin-top: 0px;
  }

  .card.description {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }

  .h3 {
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
  }

  .img-fluid.hide-mobo {
    display: none;
  }

  .accordion {
    width: 83.33%;
  }

  .feature-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .stars-review {
    font-size: 15px;
  }

  .review-full-width-2 {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .h2 {
    font-size: 52px;
    line-height: 58px;
    letter-spacing: -2px;
  }

  .p-subtitle {
    font-size: 16px;
    line-height: 26px;
  }

  .p-subtitle.left_aligned {
    text-align: center;
  }

  .header-cta-desktop {
    display: none;
  }

  .header-cta-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin-left: 0px;
  }

  .mk_card-description {
    padding-left: 20px;
  }

  .review-image-container {
    margin-right: -20px;
    margin-left: -20px;
  }

  .nutrition.no_padding {
    margin-top: 0px;
  }

  .checkout-sc-3 {
    margin-right: auto;
    margin-left: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .checkout-item {
    width: 100%;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
  }

  .rotator-deal {
    top: 15px;
    right: 15px;
  }

  .section-heading {
    text-align: left;
  }

  .section-heading.no_padding {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }

  .section-heading.no_padding.padding-left {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-heading.no_padding.reimagined {
    display: none;
  }

  .section-heading.centered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .servings {
    text-align: left;
  }

  .offer-ends {
    font-size: 16px;
    line-height: 24px;
  }

  .div-block-277 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ._2-col-grid {
    margin-bottom: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }

  ._2-col-grid.small_gap.no_padding {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-benefits {
    grid-row-gap: 0px;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .benefits-left {
    position: static;
    width: 100%;
    background-color: #fffcf7;
  }

  .benefits-content {
    max-width: 100%;
    padding: 0px 20px;
  }

  .benefits-sticky {
    display: none;
    height: auto;
    max-width: 100%;
    padding: 20px;
  }

  .text-sliders {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .javy-icon {
    width: 65px;
  }

  .grid_sticky {
    padding-right: 20px;
    padding-left: 20px;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }

  .sticky_bar {
    height: auto;
    padding: 15px 20px 25px;
  }

  .div-block-279 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .dropdown {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .rt_title-2 {
    font-size: 14px;
    line-height: 30px;
  }

  .featured-item {
    margin-bottom: 5px;
  }

  .paragraph.mb-0 {
    margin-bottom: 0px;
  }

  .paragraph.p-small {
    font-size: 12px;
    line-height: 20px;
  }

  .btn {
    max-width: 100%;
  }

  .inner-container.no_padding {
    width: auto;
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  ._2-col {
    margin-bottom: 40px;
  }

  ._2-col.first_child.no_padding {
    margin-top: 0px;
  }

  .card.description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }

  .card.img_container {
    width: auto;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }

  .h3 {
    font-size: 34px;
    line-height: 38px;
  }

  .accordion {
    width: 100%;
    margin-bottom: -16px;
  }

  .accordion.js-accordion {
    margin-top: 10px;
  }

  .question-text {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .accordion__item {
    margin-bottom: 0px;
  }

  .review-image {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .review-content {
    margin-top: 0px;
    padding: 15px;
  }

  .h2 {
    font-size: 46px;
    line-height: 50px;
    font-weight: 800;
  }

  .p-subtitle {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 16px;
  }

  .header-cta-mobile {
    max-width: 100%;
  }

  .step-head {
    font-size: 18px;
  }

  .review-image-container {
    height: 180px;
  }

  .nutrition {
    width: 100%;
  }

  .text-block-34 {
    text-align: left;
  }

  .rotator-deal {
    width: 120px;
    height: 120px;
  }

  .section-heading {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .section-heading.no_padding {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }

  .section-heading.no_padding.padding-left {
    width: 100%;
    padding-left: 20px;
  }

  .offer-ends {
    margin-left: 0px;
    font-size: 14px;
    line-height: 18px;
  }

  ._2-col-grid {
    margin-bottom: 40px;
  }

  .benefits-content {
    padding-top: 0px;
  }

  .javy-icon {
    width: 55px;
  }

  .text-block-33 {
    font-size: 18px;
    line-height: 24px;
  }

  .sticky_footer {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .grid_sticky {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .swiper.slider3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  .swiper-wrapper {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
  }

  .swiper-slide {
    width: 100%;
  }

  .rt_title-2 {
    margin-left: 0px;
    font-size: 12px;
    line-height: 18px;
  }

  .featured-item {
    margin-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .paragraph.p-small.review {
    margin-top: 5px;
  }

  .inner-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .inner-container.no_padding {
    margin-right: 0px;
    margin-left: 0px;
  }

  ._2-col {
    height: auto;
    margin-bottom: 20px;
  }

  ._2-col.last_child {
    grid-column-gap: 16px;
  }

  .card.description {
    height: auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }

  .card.description.last_mobile {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
  }

  .card.img_container {
    height: auto;
  }

  .h3 {
    font-size: 26px;
    line-height: 24px;
  }

  .question-text {
    margin-bottom: 8px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
    font-weight: 500;
  }

  .accordion-body {
    padding-left: 56px;
  }

  .accordion-body.js-accordion-body {
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .stars-review {
    font-size: 16px;
  }

  .review-section-rating {
    margin-top: 0px;
    text-align: left;
  }

  .text-block-30 {
    font-size: 10px;
  }

  .review-image {
    display: block;
  }

  .review-content {
    text-align: center;
  }

  .review-shield-2 {
    width: 14px;
    margin-top: 0px;
  }

  .review-full-width-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .title-review {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
  }

  .h2 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 800;
    letter-spacing: -1px;
  }

  .p-subtitle {
    font-size: 16px;
  }

  .header-cta-mobile {
    height: 40px;
  }

  .step-head {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }

  .review-image-container {
    height: 240px;
    margin-right: -10px;
    margin-left: -10px;
  }

  .top-caf {
    font-size: 12px;
  }

  .table-caf {
    font-size: 20px;
    line-height: 20px;
  }

  .rotator-deal {
    left: auto;
    top: 15px;
    width: 70px;
    height: 70px;
  }

  .tag-text-4 {
    font-size: 12px;
    line-height: 16px;
  }

  .check-icon-2 {
    -webkit-transform: translate(0px, 5px);
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
  }

  .feature-text-2 {
    font-size: 14px;
  }

  .section-heading {
    width: 100%;
  }

  .section-heading.no_padding {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .section-heading.no_padding.padding-left {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-heading.centered {
    padding-right: 0px;
    padding-left: 0px;
  }

  .section-heading.centered.padding {
    padding-right: 20px;
    padding-left: 20px;
  }

  .checkout-select-variant {
    padding-right: 5px;
    padding-left: 5px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .offer-ends {
    margin-left: 0px;
    font-size: 10px;
    line-height: 18px;
  }

  .name-review {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }

  ._2-col-grid {
    height: auto;
    margin-bottom: 20px;
  }

  .benefits-content {
    padding-bottom: 0px;
  }

  .text-sliders {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .grid-13 {
    max-width: 100%;
    grid-row-gap: 8px;
  }

  .javy-icon {
    width: 40px;
  }

  .text-block-33 {
    margin-left: 10px;
    font-size: 12px;
    line-height: 18px;
  }

  .grid_sticky {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column-gap: 8px;
  }

  .sticky_bar {
    height: auto;
    padding: 10px 10px 20px;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_5efcd57a-b354-28c0-4394-cf47daaf6fdb-daaf6fd8 {
    -webkit-box-ordinal-group: 10000;
    -webkit-order: 9999;
    -ms-flex-order: 9999;
    order: 9999;
  }

  #w-node-_1609efff-fa86-da47-4038-6195d0623af5-d0623ae8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}





.sticky_footer {
  display:none;
  }

html.no-scroll {overflow: hidden;}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



.swiper-slide img {
  object-fit: cover;
}


span.swiper-pagination-bullet.swiper-pagination-bullet-active {
background-color: #fde02f;
border: 0px;
}

.swiper-pagination-bullet {
width: 8px;
border: 1px solid #000;
height: 8px;
display: inline-block;
border-radius: 50%;
background: transparent;
opacity: 1;
}



/* According Arrow */
.accordion__item > .accordion-header:after {
  font-family: 'Fa solid 900', sans-serif;
  font-weight: 900;
  font-size: 16px;
  content: "\f078";
  color: #000;
  float: right;
  position: relative;
  display: block;
  top: 2px;
  transition: 0s all;
  transform: rotate(0deg);
  opacity: 100;
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion-body.js-accordion-body {
	display: none;
}


video {
  width: 100%;
  max-height: 100%;
  max-width: 100%!important;
}


body {
  -webkit-tap-highlight-color: transparent;
}


*:focus {
  outline: 0;
  outline: none;
  }


  .okeReviews-reviewsWidget-reviewsAggregate.js-okeReviews-reviewsAggregateContainer {
    background-color: #fff;
}

.okeReviews-reviews-review {
    background-color: #fff;
}


.okeReviews-review-reviewer-product {
    display: none!important;
}


.okeReviews p {
  font-size: 14px!important;
}

.okeReviews .okeReviews-reviews-footer:before {
  display: none!important
}

button.okeReviews-reviews-showMore.okeReviews-showMore.js-okeReviews-showMore {
  background-color: #ffc33a;
  color: #000!important;
  border: none;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  height: 45px;
}

.okeReviews .okeReviews-avatar {
    background-color: #ffc33a!important;
    color: #000!important;
    font-weight: 700!important;
}


.okeReviews-reviews-controls {
    display: none!important;
}


.okeReviews-reviewsWidget-header {
    display: none!important;
}