.fixer_slider {
  height: 100%!important;
}


.product-image-main {
  width: 100%!important;
}

img {
  display: inline-block;
}

.hero {
  position: relative;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 55% 45%;
  grid-template-columns: 55% 45%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #fff;
}

.hero-left {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-right {
  width: auto;
}

.product-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 580px;
  padding: 35px 55px 55px 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper.slider1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.previous-hero-slider {
  position: relative;
  z-index: 350;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-decoration: none;
  cursor: pointer;
}

.next-hero-slider {
  position: relative;
  z-index: 150;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-decoration: none;
  cursor: pointer;
}

.hero-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  background-color: transparent;
  text-align: left;
}

.div-block {
  position: static;
  width: 100%;
  height: 720px;
  max-width: 100%;
}

.previous-after {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.body {
  overflow: visible;
}

.checkout-select-variant {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  padding: 15px 10px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #e7e7ee;
  border-radius: 6px;
  background-color: transparent;
  color: #02044a;
}

.checkout-select-variant:hover {
  box-shadow: 34px 34px 74px -24px rgba(56, 50, 124, 0.08);
}

.checkout-select-variant.w--current {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  color: #000;
}

.dropdown {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.next-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  font-family: 'Fa solid 900', sans-serif;
  color: #fff;
  font-size: 24px;
}

.prev-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  font-family: 'Fa solid 900', sans-serif;
  color: #fff;
  font-size: 24px;
}

.image-25 {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.div-block-281 {
  position: static;
  left: 0%;
  top: 70%;
  right: 0%;
  bottom: auto;
  display: none;
  width: 100%;
  height: 40px;
  margin-top: -10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px none #000;
  background-color: transparent;
}

.tag-text-4-2 {
  color: #000;
  font-size: 20px;
  line-height: 18px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.image-24 {
  position: absolute;
  z-index: 50;
  display: block;
  width: 100%;
  height: 100%;
}

.grid-14 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hero-ico-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-hero {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container-hero._65-percent {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rotator-deal-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 35%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 140px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fde02f;
}

.text-span-41 {
  font-size: 45px;
  line-height: 40px;
}

.text-block-37 {
  font-weight: 800;
}

.benefits-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 720px;
  min-width: 630px;
  padding: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.ico-container-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
}

.container-hero-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  max-width: 630px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-hero-top._30-percent {
  height: 60%;
}

.icontextbox {
  width: 317px;
}

.grid-15 {
  grid-row-gap: 6px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.iconbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  height: 85px;
  padding: 13px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: transparent;
  box-shadow: none;
}

.container-coffee-type-60 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.icon-div-one-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.inner-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-text-2 {
  margin-left: 20px;
  color: #000;
  font-size: 28px;
  line-height: 26px;
  font-weight: 800;
}

.paragraph-5 {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20px;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}

.any-type {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  text-align: left;
}

.container-hero-top-type {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nutrition-full-width {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}

.nutrition-percentage {
  font-weight: 700;
}

.table-caf-number {
  font-size: 68px;
  line-height: 68px;
  font-weight: 700;
}

.nutrition-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.table-caf-text {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
}

.top-caf-hero {
  font-size: 16px;
  font-weight: 700;
}

.size-hero {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.top-col-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #cacac8;
  border-bottom: 1px solid #cacac8;
}

.nutrition-inside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
}

.ingredients-section {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nutrition-daily {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 10px;
}

@media screen and (max-width: 991px) {
  .hero {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .hero-left {
    width: 100%;
  }

  .product-info {
    max-width: 100%;
    padding: 20px;
  }

  .div-block {
    position: relative;
    height: auto;
  }

  .previous-after {
    display: none;
  }

  .dropdown {
    margin-right: 0px;
    margin-left: 0px;
  }

  .grid-14 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .container-hero._65-percent {
    left: auto;
    right: auto;
    height: 45%;
  }

  .benefits-blocks {
    max-width: 680px;
    min-width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .ico-container-text {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }

  .container-hero-top._30-percent {
    height: 50%;
  }

  .icontextbox {
    width: auto;
  }

  .grid-15 {
    width: 100%;
  }

  .iconbox {
    width: 50px;
    height: 50px;
  }

  .container-coffee-type-60 {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: 70%;
    max-width: 100%;
    padding-top: 0px;
    padding-left: 50px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icon-div-one-2 {
    padding-top: 0px;
  }

  .inner-hero {
    margin-top: 0px;
  }

  .icon-text-2 {
    font-size: 24px;
    line-height: 22px;
  }

  .any-type {
    font-size: 40px;
    line-height: 44px;
  }

  .container-hero-top-type {
    height: 30%;
    padding-left: 50px;
  }

  .servings {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .product-info {
    padding-top: 0px;
  }

  .tag-text-4-2 {
    font-size: 15px;
  }

  .rotator-deal-2 {
    bottom: 45%;
    width: 145px;
    height: 145px;
  }

  .text-span-41 {
    font-size: 35px;
    line-height: 30px;
  }

  .benefits-blocks {
    max-width: 430px;
    padding: 10px;
  }

  .ico-container-text {
    line-height: 14px;
  }

  .container-hero-top._30-percent {
    top: 10px;
  }

  .grid-15 {
    max-width: 260px;
  }

  .iconbox {
    width: 45px;
    height: 45px;
  }

  .container-coffee-type-60 {
    height: 75%;
    padding-top: 15px;
    padding-left: 30px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .icon-div-one-2 {
    padding-bottom: 0px;
  }

  .icon-text-2 {
    font-size: 20px;
  }

  .paragraph-5 {
    margin-top: 0px;
    font-size: 12px;
  }

  .any-type {
    font-size: 22px;
    line-height: 26px;
    font-weight: 800;
  }

  .container-hero-top-type {
    height: 25%;
    padding-top: 10px;
    padding-left: 30px;
  }

  .nutrition-full-width {
    width: 400px;
  }

  .table-caf-number {
    font-size: 48px;
    line-height: 54px;
  }

  .size-hero {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .product-info {
    padding-bottom: 0px;
  }

  .swiper.slider1 {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
  }

  .previous-hero-slider {
    display: none;
  }

  .next-hero-slider {
    display: none;
  }

  .hero-image {
    width: 100%;
  }

  .swiper-wrapper {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
  }

  .swiper-slide {
    width: 100%;
  }

  .checkout-select-variant {
    padding-right: 5px;
    padding-left: 5px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .image-25 {
    width: 60px;
    height: 60px;
  }

  .div-block-281 {
    height: 30px;
  }

  .tag-text-4-2 {
    font-size: 10px;
    line-height: 10px;
  }

  .image-24 {
    z-index: 1000;
  }

  .container-hero._65-percent {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: 35%;
  }

  .rotator-deal-2 {
    bottom: 55%;
    width: 90px;
    height: 90px;
  }

  .text-span-41 {
    font-size: 25px;
    line-height: 25px;
  }

  .text-block-37 {
    font-size: 10px;
  }

  .benefits-blocks {
    max-width: 320px;
  }

  .ico-container-text {
    font-size: 8px;
    line-height: 12px;
  }

  .container-hero-top._30-percent {
    height: 45%;
  }

  .icontextbox {
    text-align: left;
  }

  .grid-15 {
    max-width: 180px;
    margin-top: 10px;
    grid-row-gap: 3px;
  }

  .iconbox {
    width: 35px;
    height: 35px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .container-coffee-type-60 {
    height: 80%;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icon-div-one-2 {
    margin-bottom: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom-style: none;
    text-align: center;
  }

  .inner-hero {
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .icon-text-2 {
    margin-left: 10px;
    font-size: 10px;
    line-height: 16px;
  }

  .paragraph-5 {
    margin-left: 10px;
    font-size: 8px;
    line-height: 14px;
  }

  .any-type {
    padding-top: 0px;
    font-size: 16px;
    line-height: 20px;
  }

  .container-hero-top-type {
    height: 40%;
    padding-top: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nutrition-full-width {
    width: 280px;
  }

  .table-caf-number {
    font-size: 30px;
    line-height: 20px;
  }

  .nutrition-hero {
    margin-top: 0px;
  }

  .table-caf-text {
    margin-top: 2px;
    font-size: 14px;
    line-height: 16px;
  }

  .top-caf-hero {
    font-size: 12px;
    line-height: 12px;
  }

  .size-hero {
    font-size: 10px;
    line-height: 14px;
  }

  .top-col-hero {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nutrition-inside {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#w-node-_4780e485-29b3-3e63-3a2f-94d7d6a94d2e-a8f389e4 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_4780e485-29b3-3e63-3a2f-94d7d6a94d35-a8f389e4 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_4780e485-29b3-3e63-3a2f-94d7d6a94d3a-a8f389e4 {
  -ms-grid-column-align: center;
  justify-self: center;
}


@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



