body {
  letter-spacing: 0px!important;
}



.swiper-wrapper {
  margin-bottom: 0px!important;
}

.image-wrap.loaded {
  height: 100%!important;
  padding: 0px!important;
}

.product-image-main {
  width: 100%!important;
  height: 100%;
}

.swiper-slide.lozad.swiper-slide-duplicate.swiper-slide-prev {
  object-fit: cover;
  height: 100%;
}

div#swiper-wrapper-bbe627a435f5a47d {
  object-fit: cover;
}


.swiper.slider1.product__main-photos.product__main-photos--slider.swiper-initialized.swiper-horizontal.swiper-pointer-events.aos-init.aos-animate {
  height: 100%;
  object-fit: cover;
}

img.lazyautosizes.lazyloaded {
  width: 100%!important;
}

.fixer_slider {
  height: 100%!important;
  object-fit: cover;
  width: 100%;
}

.hero-internal {
  position: static;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

img.lazyautosizes.lazyloaded {
  height: 100%;
  width: 100%!important;
  object-fit: cover;
}

.r_flavor_tag {
  font-size: 12px;
  margin-left: 5px;
}


.r_full_width {
  width: 100%!important;
}

.r_h1.r_product_title {
  text-transform: capitalize;
}

a.btn.hero {
  background-color: #ffc33a;
  text-align: center;
  display: flex;
}

.r_wrapper {
  overflow: hidden;
}

ul.r_product_features.r_one_time.w-list-unstyled.r_general_product {
  padding-left: 5px;
  margin-bottom: -10px!important;
}

.w-tab-link.w--current .r_freq_check_wrapper .r_freq_circle img {
  opacity: 100!important;
}

@media screen and (max-width: 991px) {
.r_hero_left {
    width: 100%;
    background-color: #fff6e7!important;
    padding-top: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
}


.r_product_hero {
  z-index: 0!important;
}

p {
  margin-bottom: 10px;
  line-height: 34px;
}

.r_category_badge {
  width: auto;
  display: inline-block;
}

.r_wrapper {
  font-family: Gothampro, sans-serif;
  color: #000;
  font-size: 14px;
}



.r_wrapper p {
  color:#000;
}


.r_wrapper a {
  text-decoration:none!important;
}

.r_wrapper h3 {
  text-transform: none!important;
}

.r_wrapper h4 {
  text-transform: none!important;
}

.r_h3 {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  padding-left: 0px;
  font-family: Gothampro, sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}


.r_wrapper h1,
.r_wrapper h2,
.r_wrapper h3,
.r_wrapper h4,
.r_wrapper h5,
.r_wrapper h6 {

}
.r_wrapper h1 {

}
.r_wrapper h2 {

}
.r_wrapper h3 {

}
.r_wrapper h4 {

}
.r_wrapper h5 {

}
.r_wrapper h6 {

}

.r_title_container {
  z-index: 5;
}

.r_bg_flavors {
  z-index: 0;
}

.bg_flavor_desktop {
  z-index: 1;
}

.bg_flavor_mobile {
  z-index: 1;
}

.div-block-3 {
  z-index: 1;
}


.reg-text {
  margin-left: 5px;
  line-height: 22px;
  font-weight: 500;
}

.youresaving {
  font-weight: 500;
}




.swiper .slider1 .swiper-slide img {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper.slider3.swiper-slide.swiper-slide-active img.flavor-mob {
  transform: scale(1.4);
}
.swiper-slide .r_recipe_link img {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fde02f;
  border: 0px;
}
.swiper-pagination-bullet {
  width: 8px;
  border: 1px solid #000;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
}

.r_title_wrapper.r_centered.r_bigger.r_m_b_25 {
  margin-bottom: 45px!important;
}

.front_bottle {
  animation: coffeeFront 6s cubic-bezier(0.32, 0.01, 0.58, 1) infinite;
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 0; */
}
.bean_01 {
  animation: objectOne 6s cubic-bezier(0.32, 0.01, 0.58, 1) infinite;
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 0; */
}
.bean_01_right {
  animation: objectOne_right 6s cubic-bezier(0.32, 0.01, 0.58, 1) infinite;
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 0; */
}
.bean_02 {
  animation: objectTwo 6s cubic-bezier(0.32, 0.01, 0.58, 1) infinite;
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 0; */
}
.back_bottle {
  animation: coffeeBack 6s cubic-bezier(0.32, 0.01, 0.58, 1) infinite;
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 0; */
}
@keyframes coffeeFront {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-30px) scale(1.05);
  }
}
@keyframes objectOne {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}
@keyframes objectOne_right {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}
@keyframes objectTwo {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes coffeeBack {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
